
.todos__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 0;
    flex: 1;

  button {
    all: unset;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    i {
      color: #ff4d4d;
      font-size: 16px;

      &:hover {
        color: #cc0000;
      }
    }
  }
  div {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px;
    flex: 1;
    border-radius: 2px;

    label:hover {
      cursor: pointer;
    }

    input[type="checkbox"] {
      accent-color: #28a745;
      width: 16px;
      height: 16px;
      cursor: pointer;
    }
  }
}
 

