.home {
  display: flex;
  justify-content: center;
  height: 80vh;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    input {
      margin-top: 10px;
    }
  }
}