@use 'variables' as v;

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: '100%';


  &__container {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    border-radius: 0.4rem;
    background-color: v.$primary-color;

    h2 {
      color: v.$secondary-color;
    }

    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      color: v.$secondary-color;

      &__field {
        display: flex;
        flex-direction: column;

        input {
          padding: 8px;
          border-radius: 0.3rem;
          border: none;
          font-size: 1rem;
          color: v.$primary-color;
        }
      }

      &__submit {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0.2rem 0;
        font-size: 1.2rem;
        background-color: v.$secondary-color;
        border: none;
        border-radius: 0.3rem;
        color: v.$primary-color;
        font-weight: 600;
        margin-top: 1rem;

        &:hover {
          cursor: pointer;
          background-color: #ccc;
        }

        &:disabled {
          color: #888;
          background-color: #ccc;
        }
      }
    }
  }
}